{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</h1>
        <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Customer Care</h5>
                <p class="card-text">Name: Raja Mann </br> Mobile: 41373734689 </br> Email: raja@dealership.com </p>
            </div>
        </div>
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Contact Information</div>
            <div class="card-body">
                <h5 class="card-title">Lead Salesman</h5>
                <p class="card-text">Name: Ajay gurjar </br> Mobile: 125678892 </br> Email: ajay@dealership.com </p>
            </div>
        </div>
        </div>
                <div class="card text-white bg-dark mb-3 text-align" style="max-width: 18rem;">
            <div class="card-header">Visiting Address</div>
            <div class="card-body">
                <h5 class="card-text">Best Cars HQ</br></br>80 Feet Rd, Koramangala 7th Block,</br>Bangalore,India</br></br></h5>
                <p class="card-text">Phone: 003721435476 </br> Email: info@dealership.com </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}